[submodule "lib/libSwarmComm"]
	path = lib/libSwarmComm
	url = https://github.com/Oceanlabllc/libSwarmComm
[submodule "lib/libSwarmNet"]
	path = lib/libSwarmNet
	url = https://github.com/Oceanlabllc/libSwarmNet
[submodule "lib/algTranslator"]
	path = lib/algTranslator
	url = https://github.com/Oceanlabllc/algTranslator
[submodule "lib/vehicleSupport"]
	path = lib/vehicleSupport
	url = https://github.com/Oceanlabllc/vehicleSupport
[submodule "lib/libSwarmSim"]
	path = lib/libSwarmSim
	url = https://github.com/Oceanlabllc/libSwarmSim.git
[submodule "lib/libSwarmCore"]
	path = lib/libSwarmCore
	url = https://github.com/Oceanlabllc/libSwarmCore.git
[submodule "lib/swarmEngine"]
	path = lib/swarmEngine
	url = https://github.com/Oceanlabllc/swarmEngine.git
